@tailwind base;
/* purgecss start ignore */
html {
  font-family: Nunito;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* purgecss end ignore */
@tailwind components;
@tailwind utilities;
